# Build artifacts
dist/
build/
*.egg-info/
*.so
*.pyd
*.pyc
*.egg
*.whl
__pycache__/
.pytest_cache/
tmp/
var/

# Virtual environments
venv/
env/

# IDE files
.idea/
.vscode/
.vs/

# OS files
**.DS_Store

# Specific to this project
python_bindings/tests/__pycache__/
qhnswlib.cpython*.so
hnswlib.cpython*.so
