hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc

# Build artifacts
dist/
build/
*.egg-info/
*.so
*.pyc
__pycache__/
.pytest_cache/
venv/
*.egg
*.whl
